mixin projectWithClass(className, title, imageUrl, tags, links)
  div(class=`${className} my-4`)
    div.card
      div.card-body
        h5.card-title #{title}
        if imageUrl != null
          img.card-img(src=imageUrl)
      p.card-footer
        each link in links
          if link.modal
            //- TODO Use icon.pug
            a(class=`card-link fa fa-lg pull-right ${link.type}`, href=link.url,
              role="button", data-toggle="modal", data-target=link.url)
          else
            a(class=`card-link fa fa-lg pull-right ${link.type}`, href=link.url)
mixin projectLarge(title, imageUrl, tags, links)
  +projectWithClass("col-lg-4", title, imageUrl, tags, links)
mixin projectSmall(title, imageUrl, tags, links)
  +projectWithClass("col-lg-3", title, imageUrl, tags, links)

mixin publication(index, title, location, resources)
  div.list-group-item
    h4.list-group-item-heading(id=`publications_${index}`) #{title}
    p.list-group-item-text
      span #{location}
      each resource in resources
        |[
        a(href = resource.url) #{resource.text}
        |]

mixin publicationModal(index, title, location, resources)
  div(id=`publications_modal_${index}`,
      class="modal fade",
      role="dialog",
      tabindex="-1",
      aria-labelledby=`\#publications_modal_${index}_title`)
    div(class="modal-dialog modal-lg")
      div.modal-content
        div.modal-header
          h3(id=`publications_modal_${index}_title`, class="modal-title") #{title}
        div.modal-body
          span #{location}
          each resource in resources
            |[
            a(href = resource.url) #{resource.text}
            |]
        div.modal-footer
          button(class="btn btn-default", type="button", data-dismiss="modal") Close
