block language
  -
    var language = "en"

block title
  -
    var title = "Micro-Versioning Tool to Support Experimentation in Exploratory Programming"

include ../../pug/icons.pug
include ./strings.pug
include ../../index/layout/components.pug

doctype html
html(lang=language)
  head
    include ../../pug/meta.pug
    include ../../pug/resources.pug

    title #{title}

  body
    div.container
      div.musthead
        p.text-right
          if language == "en"
            a(href="index-ja.html")
              +japaneseIcon("lg")
              span 日本語
          else
            a(href="index.html")
              +englishIcon("lg")
              span English
      div.jumbtron
        // Title
        h2.text-center #{title}
        div.row
          div.col-lg-12
            p(class="text-center pb-0 mb-0")
              a(href="https://hiroakimikami.github.io") #{strings.hiroakimikami[language]}
              span ,
              a(href="https://daisukesakamoto.jp/") #{strings.daisukesakamoto[language]}
              span ,
              a(href="http://www-ui.is.s.u-tokyo.ac.jp/~takeo/") #{strings.takeoigarashi[language]}
            p(class="text-center pb-0 mb-0")
              a(href="http://www.u-tokyo.ac.jp/en/index.html") #{strings.univtokyo[language]}
      div.container
        // Abstract
        div.row
          h3.mt-5 #{strings.abstract[language]}
        div.row
          div.col-lg-12
            img(class="pull-right col-lg-4", src="../images/chi2017.jpg")
            block abstract

        // Videos
        div.row
          h3.mt-5 #{strings.video[language]}
        div.row
          div.col-lg-6
            div(class="embed-responsive embed-responsive-16by9")
              iframe.embed-responsive-item(
                src="https://www.youtube.com/embed/THHwelAo0aY?ecver=1", allowfullscreen)
          div.col-lg-6
            div(class="embed-responsive embed-responsive-16by9")
              iframe.embed-responsive-item(
                src="https://www.youtube.com/embed/2v1hHl9mQ7g?ecver=1", allowfullscreen)

        // Prototype
        div.row
          h3.mt-5 #{strings["prototype"][language]}
        div.row
          div.col-lg-12
            h4.mt-3 #{strings.install[language]}
            block install
          div.col-lg-12
            h4.mt-3 #{strings.usage[language]}
            block usage

        // Publications
        div.row
          h3.mt-5 #{strings.publications[language]}
        div.row
          div.col-lg-12
            div.list-group
              +publication(0,
                           "Micro-Versioning Tool to Support Experimentation in Exploratory Programming",
                           "2017 SIGCHI Conference on Human Factors in Computer Systems (CHI 2017)",
                           [
                            { text: "DOI", url: "https://doi.org/10.1145/3025453.3025597" },
                            { text: "PDF", url: "../files/micro-versioning-tool.pdf" },
                            { text: "Slide", url: "https://www.slideshare.net/HiroakiMikami/chi2017-slide-share-75959279" }
                           ])
