include ./data/strings.pug

div.container
  div.jumbtron
    // Profile
    div.row
      h2.mt-5(id="profile") #{strings.profile[language]}
    div.row
      div.col-sm-4
        block bio
      div.col-sm-8
        h3.mt-3 #{strings.interest[language]}
        block interest
  div.container
    // Projects
    div.row
      h2.mt-5(id="projects") #{strings.projects[language]}
    div.row
      div.col-sm-12
        div.row
          each project in projects
            +projectLarge(project.title, project.image, project.tags, project.links)
        div.row
          h3.mt-3 #{strings.activities[language]}
        div.row
          each activity in activities
            +projectSmall(activity.title[language], activity.image, activity.tags, activity.links)
        div.row
          h3.mt-3 #{strings.others[language]}
        div.row
          each repository in repositories
            +projectSmall(repository.title, repository.image, repository.tags, repository.links)

    // Publications
    div.row
      h2.mt-5(id="publications") #{strings.publications[language]}
    div.row
      div.col-sm-12
        div.list-group
          each publication, index in publications
            +publication(index,
                         publication.title, publication.location, publication.resources)

// Modal
each publication, index in publications
  +publicationModal(index,
                    publication.title, publication.location, publication.resources)
