mixin projectWithClass(className, title, imageUrl, tags, links)
  div(class=className)
    div(class="panel panel-default bootcards-media")
      div(class="panel-heading clearfix")
        each link in links
          //- TODO Use icon.pug
          if link.modal
            a(
              class=`fa fa-lg pull-right ${link.type}`, href=link.url,
              role="button", data-toggle="modal", data-target=link.url
            )
          else
            a(class=`fa fa-lg pull-right ${link.type}`, href=link.url)
        div.container
          div.row
            h4(class="pull-left") #{title}
          div.row
            each tag in tags
              span(class="label label-info") #{tag}
              | 
      div.panel-body
        if imageUrl == null
          img.img-responsive(src="images/no-image.svg")
        else
          img.img-responsive(src=imageUrl)
mixin projectLarge(title, imageUrl, tags, links)
  +projectWithClass("col-sm-4", title, imageUrl, tags, links)
mixin projectSmall(title, imageUrl, tags, links)
  +projectWithClass("col-sm-3", title, imageUrl, tags, links)

mixin publication(index, title, location, resources)
  div.list-group-item
    h4.list-group-item-heading(id=`publications_${index}`) #{title}
    p.list-group-item-text
      span #{location}
      each resource in resources
        |[
        a(href = resource.url) #{resource.text}
        |]

mixin publicationModal(index, title, location, resources)
  div(id=`publications_modal_${index}`,
      class="modal fade",
      role="dialog",
      tabindex="-1",
      aria-labelledby=`\#publications_modal_${index}_title`)
    div(class="modal-dialog modal-lg")
      div.modal-content
        div.modal-header
          h3(id=`publications_modal_${index}_title`, class="modal-title") #{title}
          span #{location}
          each resource in resources
            |[
            a(href = resource.url) #{resource.text}
            |]
        div.modal-footer
          button(class="btn btn-default", type="button", data-dismiss="modal") Close
