div(class="navbar navbar-default navbar-fixed-top", role="navigation")
  div.container
    span.navbar-brand(title="my-name") #{strings.name[language]}
    div(class="navbar-collapse collapse")
      ul(class="nav navbar-nav")
        li
          a(href="#profile")
            +profileIcon("lg")
            span
            span #{strings.profile[language]}
        li
          a(href="#projects")
            +projectIcon("lg")
            span
            span #{strings.projects[language]}
        li
          a(href="#publications")
            +publicationIcon("lg")
            span
            span #{strings.publications[language]}
        li.dropdown
          a.dropdown-toggle(href="#", data-toggle="dropdown")
            +contactIcon("lg")
            span
            span #{strings.contact[language]}
          ul.dropdown-menu
            li
              a(href="mailto:hiroaki8270@gmail.com")
                +mailIcon()
                span
                span #{strings.mail[language]}
            li
              a(href="https://twitter.com/hiroaki8270")
                +twitterIcon()
                span
                span Twitter
            li
              a(href="https://www.linkedin.com/in/hiroaki-mikami-69084b142/")
                span LinkedIn &reg;
        li.dropdown
          a.dropdown-toggle(href="#", data-toggle="dropdown")
            +linkIcon("lg")
            span #{strings.link[language]}
          ul.dropdown-menu
            li
              a(href="https://github.com/HiroakiMikami")
                +githubIcon()
                span
                span Github
            li
              a(href="https://www.npmjs.com/~hiroakimikami")
                +npmIcon()
                span
                span npm
            li
              a(href="https://atom.io/users/HiroakiMikami")
                span Atom
            li
              a(href="https://hub.docker.com/u/mhiroaki8270/")
                span DockerHub
            li
              a(href="http://qiita.com/MikamiHiroaki")
                +qiitaIcon()
                span
                span Qiita
      if language == "en"
        a(class="navbar-right navbar-text", href="index-ja.html")
          +japaneseIcon("lg")
          span 日本語
      else
        a(class="navbar-right navbar-text", href="index.html")
          +englishIcon("lg")
          span English
